<div class="pokedex-list-container">
  <div class="search-pokemon-container">
    <h3>Search Pokemon</h3>
    <input
      class="search-pokemon-input"
      type="text"
      name="currPokeName"
      (change)="currPokeName = $event.target.value"
    >
    <button type="submit" class="search-pokemon-btn" (click)="onSearchSubmit()">Search</button>
  </div>
  <div class="pokemon-list">
    <app-pokemon-item
      *ngFor="let pokemon of pokemonList; let i = index"
      [pokemon]="pokemon"
    ></app-pokemon-item>
  </div>
</div>
