<div class="pokedex-list-container">
  <div class="search-pokemon-container">
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <!-- <p *ngIf="error"> {{error}} </p> -->
    <div class="search-container">
      <input
        class="search-pokemon-input"
        type="text"
        placeholder="Search Pokemon..."
        name="currPokeName"
        (change)="currPokeName = $event.target.value"
        (keydown.enter)="onHandleKeyEnter()"
      >
      <!-- <button type="submit" class="search-pokemon-btn" (click)="onSearchSubmit()">Search</button> -->
      <div class="search"></div>
    </div>
  </div>
  <div class="pokemon-list">
    <app-pokemon-item
      *ngFor="let pokemon of pokemonList; let i = index"
      [pokemon]="pokemon"
      [index]="i"
    ></app-pokemon-item>
  </div>
</div>
